{{ define "main" }}
<main>
    {{partial "default-content" .}}
    {{ $home := .Site.Home }}
    <div class="css-treeview box">
        {{ template "section-tree-nav" .CurrentSection }}
    </div>
</main>
{{ end }}


{{ define "section-tree-nav" }}
<ul>
    <li><input type="checkbox" id="section-tree-folder-{{.Title}}" checked="checked" /><label for="section-tree-folder-{{.Title}}">{{.Title}}</label>
        <ul>
            {{ range .Pages.ByDate.Reverse }}
            <li>
                {{partial "article-params-card" .}}
            </li>
            {{ end }}
            
            {{ range .Sections.Reverse}}
            <li>
                {{ template "section-tree-nav" . }}
            </li>
            {{ end }}
        </ul>
    </li>
</ul>
{{ end }}